<div
  class="relative w-screen h-screen overflow-hidden flex items-center justify-center"
>

  <div
    class="absolute inset-0 z-0 bg-no-repeat bg-cover bg-center"
    [ngClass]="{
      'md:hidden': true
    }"
    style="background-image: url('assets/mobile_bg.png');"
  ></div>
  <div
    class="absolute inset-0 hidden md:block z-0 bg-no-repeat bg-cover bg-center"
    style="background-image: url('assets/pc_bg.png');"
  ></div>

  <div
    class="absolute top-0 right-0 w-52 h-52 border-t-8 border-r-8 border-cyan-400 rounded-bl-[4rem] opacity-90 blur-sm drop-shadow-[0_0_20px_rgba(34,211,238,0.8)] pointer-events-none z-10 animate-pulse-glow-strong"
  ></div>
  <div
    class="absolute bottom-0 left-0 w-52 h-52 border-b-8 border-l-8 border-purple-500 rounded-tr-[4rem] opacity-90 blur-sm drop-shadow-[0_0_20px_rgba(168,85,247,0.8)] pointer-events-none z-10 animate-pulse-glow-strong"
  ></div>

  <div
    id="brand"
    #brand
    class="z-20 flex flex-col items-center justify-center text-center transition-transform duration-100 ease-in-out will-change-transform"
  >
    <ng-container *ngIf="!showSpiral && !showMenu">
      <img
        src="assets/logo_png.png"
        alt="Vortex Valor Symbol"
        class="w-72 max-w-full drop-shadow-lg no-drag animate-tilt"
        draggable="false"
        #logo
      />
      <a
        (click)="onStartClick()"
        (keydown.enter)="onStartClick()"
        tabindex="0"
        role="button"
        class="z-50 mt-8 text-xl md:text-4xl font-extrabold text-white bg-[#1b1f24] border-4 border-[#0e2b3a] px-6 py-3 md:px-10 md:py-4 rounded-xl hover:shadow-[0_0_35px_#36e3ff] hover:bg-[#0f3d4a] transition duration-300 ease-in-out cursor-pointer select-none"
      >
        {{ 'START' | translate }}
      </a>
    </ng-container>

    <ng-container *ngIf="showSpiral">
      <div
        class="spiral animate-spin-slow w-64 h-64 border-[18px] rounded-full border-t-vv-cyanGlow border-b-vv-cyanMid border-l-transparent border-r-transparent"></div>
      <div id="spiral-text" class="absolute text-3xl text-white font-extrabold animate-pulse text-center">
        {{ 'LOADING...' | translate }}
      </div>
    </ng-container>


    <ng-container *ngIf="showMenu">
      <div class="flex flex-col items-center justify-center gap-6">
        <img
          src="assets/logo_png.png"
          alt="Vortex Valor Symbol"
          class="w-64 h-fit md:w-64 md:h-fit animate-spin-3d no-drag animate-tilt"
          draggable="false"
        />
        <h2 class="text-white text-4xl font-extrabold cursor-pointer select-none"
            tabindex="-1">Vortex Valor</h2>
        <div class="flex flex-col gap-4">
          <button
            class="text-xl text-white bg-[#0f3d4a] border-2 border-[#0e2b3a] px-8 py-4 rounded-lg hover:shadow-[0_0_25px_#36e3ff] transition">
            Multiplayer
          </button>
          <button
            class="text-xl text-white bg-[#0f3d4a] border-2 border-[#0e2b3a] px-8 py-4 rounded-lg hover:shadow-[0_0_25px_#36e3ff] transition">
            Man vs AI
          </button>
          <button
            class="text-xl text-white bg-[#0f3d4a] border-2 border-[#0e2b3a] px-8 py-4 rounded-lg hover:shadow-[0_0_25px_#36e3ff] transition">
            Rules
          </button>
          <button
            class="text-xl text-white bg-[#0f3d4a] border-2 border-[#0e2b3a] px-8 py-4 rounded-lg hover:shadow-[0_0_25px_#36e3ff] transition">
            Settings
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
